#### 1. Import pandas library

In [1]:
# In this lab I worked together with Ruslan and wrote allong. Because of MySQL error 
# therfore this lab is not really respresentive because i could not test my code.
# but because i woket together with Ruslan this lab can be replace with his lab 

import numpy as np
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
import sqlalchemy

from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
'''
L.S. Looks promising, but there is something going wrong halfway. 
'''


#(https://relational.fit.cvut.cz/dataset/Stats)
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')
data_users = pd.read_sql_query('SELECT * FROM users', engine)

#### 4. Import the users table

In [4]:
data_users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [8]:

# https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas
data_users = data_users.rename(columns={'Id': 'userID'})

#### 6. Import the posts table.

In [5]:
data_post = pd.read_sql_query('SELECT * FROM post', engine)
data_post.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'stats.post' doesn't exist") [SQL: 'SELECT * FROM post'] (Background on this error at: http://sqlalche.me/e/f405)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [6]:
data_post = data_post.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})

NameError: name 'data_post' is not defined

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [7]:
users_columns = data_users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
posts_columns = data_post [['postId', 'Score','userId','ViewCount','CommentCount']]


# And the data type is a float and the other in an integer 
#https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas
#df = df.astype({"a": int, "b": complex})

posts_columns = posts_columns.astype({"userId": int})

posts_columns.head()

KeyError: "['userId'] not in index"

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
#Merging with the keys 'userID' and 'usertId' will only work if the data type is the same. 
# because a user can post multiple poste. Its a one to many relationship 

#user_posts = users_columns.merge(posts_columns, left_on='userId', right_on='usertId')
# the left en right key is only needed when de names of the linking collumns are differents 

user_posts = users_columns.merge(posts_columns)
user_posts.head()

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [ ]:
# https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe
# this can be calucaled with .count --> number of collums or shape --> umber of el and collums 

count_seperated= users_columns.count + posts_columns.count
count_merged = user_posts.count 
print("The amound of collumns of user.date and potst data together is: ", count_seperated, 
      "and the amound of collumns merged data is: ",count_merged )

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.